<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/redux/index.js">
<link rel="import" href="../../../bower_components/polymer-redux/polymer-redux.js">

<script src="../../../bower_components/rxjs/dist/rx.all.js"></script>
<dom-module id="tweet-store">
  <script>

    function appReducer(state, action) {

      switch (action.type) {
        case 'FAVORITE_TWEET':
          state.tweets.forEach((t)=>{
            if(t.id_str === action.id){
              t.favorited = true;
            }
          });
          break;
        case 'UNFAVORITE_TWEET':
          state.tweets.filter.forEach((t)=>{
            if(t.id_str === action.id){
              t.favorited = false;
            }
          });
          break;
        case 'ADD_TWEETS':
          state.tweets = state.tweets.concat(action.tweets);
          break;
        default:

      }
      return state;
    }

    Polymer({
      is: 'tweet-store',
      ready: function() {
        window.store = this; //to reference from other web components
        const dispatchHandler = Rx.Observable.fromEvent(this, 'dispatch');

        dispatchHandler
          .map((e)=> e.detail)
          .startWith(this.state)
          .scan(appReducer)
          .subscribe((state)=>{
            this.state = state;
            console.log(state);
            this.fire('changed', state);
          });
      },
      attached: function() {
        document.querySelector('tweet-store').addEventListener('changed', this._changed);
      },
      detached: function() {
        document.querySelector('tweet-store').removeEventListener('changed');
      },
      state: {
        tweets: []
      }
    });

  </script>

</dom-module>
